.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  width: 145px;
}

.financing {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 8px;
  gap: 10px;
  background: #4E2FD2;
  border-radius: 3px;
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.05em;
  color: #FFFFFF;
  white-space: nowrap;
}

.totals {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.compareAt {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.0025em;
  text-decoration: line-through;
  color: #6F7882;
}

.price {
  font-family: 'Gilroy', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.00125em;
  color: #4E2FD2;
  text-align: right;
}
