.section {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 8px;
  margin-bottom: 4px;
}

.heading {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #A8B2BD;
  text-transform: uppercase;
  margin: 0 0 2px;
  padding-top: 10px;
}

.items {
  display: flex;
  flex-direction: column;
}
